.register-page main
    min-height: calc( 100vh - 72px )

.register 
    display: flex
    justify-content: center
    align-content: center
    font-family: var(--font-inter)

    &__header
        margin-bottom: 25px

    &__inner
        display: flex
        background-color: #222327
        width: 700px
        border-radius: 10px
        overflow: hidden

    &__button button
        width: 100%
        padding: 8px 0
        background-color: #4662e3
        font-weight: 500
        text-transform: uppercase
        border-radius: 2px

    &__section
        width: 50%
        padding: 25px

        &--form
            text-align: center

        &--content
            background: #3e5ee7
            background: -webkit-linear-gradient(to bottom right, #7d51fe, #3e5ee7)
            background: linear-gradient(to bottom right, #7d51fe, #3e5ee7)
            background-repeat: no-repeat
            background-size: cover
            background-position: 00
            color: #fff
            position: relative
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 20px
            text-align: center

            &__button button
                background-color: #8051ff
                padding: 8px 15px
                border-radius: 3px

    &__form
        display: flex
        flex-direction: column
        gap: 15px

        input
            padding: 10px
            outline: none
            border: solid 1px #393939
            border-radius: 2px

        span
            text-align: left
            color: #fff
            font-weight: 400
